@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rubik+Mono+One&display=swap');

.выделение{
    color: rgb(141, 240, 255);
    font-weight: bold;
}

body{
    background: rgb(30, 32, 35);
    color:rgb(125, 160, 171);
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .Список{
    font-weight: bold;
    font-size: 20px;
  }

  .done{
    color: ghostwhite;
  }

  .flip_vert {
    transform:scaleY(-1) ;
  }

.flip_gor {
    transform:scaleX(-1) ;
}

.flip_gor.flip_vert {
  transform:scaleX(-1) scaleY(-1) ;
}